* {
    margin: 10px auto;
    /* color: aliceblue; */
}

body {
    display: flex;
    flex-direction: column;
}

.data {
    background: cadetblue;
}

table.data td:first-of-type,table.data tr:first-of-type{
    background: aqua;
    color: black;
}

.switch{
    width: 5%;
    border-radius: 10px;
    padding: 10px 20px;
}

.on{
    background: lightgreen;
    text-align: left;
}

.off{
    text-align: right;
    background: lightcoral;
}